<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/info_zps2ace81c1.png">
<title>Home</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/IMG_1225_zps9b3c8898.jpg" />
  <div class="box">
  	<h1><br><b>About Me</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<font size = 5px;>&nbsp;</font><div class="textbox"><br>
<a href="#me">Me</a>
<a href="#funfact">Fun fact</a>
<a name="me"></a>
<h2>Andrea Wu</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
  <h3>I am a 3rd-year <font color="0A05A6">Electrical Engineering and Computer Science</font> major at <font color="0A05A6">UC Berkeley</font>, minoring in <font color="0A05A6">music</font> and <font color="0A05A6">philosophy</font>. When I am not coding away at the computer or reading about deep insights into humanity, I like playing beautiful and crazy classical music on <font color="0A05A6">piano</font>, taking pretty <font color="0A05A6">pictures</font>, learning chords on guitar, pondering <font color="0A05A6">morality</font>, planning events with friends, and <font color="0A05A6">eating</font> Chinese food along with all the fruits in the house.</h3>
<br><br>
<a name="funfact"></a>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
<h6>Fun fact: I type in Dvorak (instead of QWERTY) as of winter break 2011.</h6>
<br>
</div>
<br>