<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/IMG_5200_zpsd79c63f9.jpg" />
  <div class="box">
  	<h1><p><br>
			<b>About Me</b>
		</p>
		</h1>
</div>
<p>
<%= render 'layouts/header' %>

<p>
  Hi there! My name is Andrea, and I am a 3rd-year Electrical Engineering and Computer Science major at UC Berkeley, minoring in philosophy and music.  I like taking pretty pictures. 
</p>
