<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/info_zps2ace81c1.png">
<title>About Me</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/IMG_1225_zps9b3c8898.jpg" />
  <div class="box">
  	<h1><br><b>About Me</b></h1>
  </div>
  <p><%= render 'layouts/header' %><br><br></p>
</div>
<div class="textbox"><br><h3>
  UC Berkeley. Electrical Engineering and Computer Science. Music and philosophy minors. <br>Code. Piano. Fruit. Guitar chords. Morality. Volleyball. Tea. Planning events. Life.
</h3><br></div>
