<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/info_zps2ace81c1.png">
<title>About Me</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/IMG_1409_zps18593940.jpg" />
  <div class="box">
  	<h1><p><br><b>About Me</b></p></h1>
  </div>
  <p><%= render 'layouts/header' %><br><br></p>
</div>
<div class="textbox"><br><h3>
  Hi there! My name is Andrea, and I am a 3rd-year Electrical Engineering and Computer Science major at UC Berkeley, minoring in philosophy and music. When I am not coding away at the computer or reading about deep insights into humanity, I like playing beautiful and crazy classical music on piano, taking pretty pictures, learning chords on guitar, pondering morality, planning events with friends, and eating Chinese food along with all the fruits in the house.
</h3><br></div>
