<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Career_zps6d00c20f.png">
<title>Career</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/road_zps65eef879.jpg" />
  <div class="box">
    <h1><br><b>Career</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<font size = 5px;>&nbsp;</font>
<div class="textbox"><br>
  <a href="#goals">Goals</a>
  <a href="#past">Past Experiences</a>
  <a href="#funfact">Fun fact</a>

  <a name="goals"></a>
  <h2>Goals</h2>
<section id="gototop">
        <a href="#top"></a>
        </section>
  <h3>I'm <font color="0A05A6">not entirely sure</font> what I want to do as a career yet, but I know I want to do <font color="0A05A6">software development</font>. As of now, I think <font color="0A05A6">communication networks</font> and <font color="0A05A6">web development</font> are super exciting, and from my internship experience, I realized <font color="0A05A6">QA is not</font> my favorite. My current goal is to <font color="0A05A6">explore</font> more subfields of computer science and hopefully find a niche. As a side note, I really enjoy talking to people, so ideally I want a job that involves both programming and talking to people!</h3>

  <a name="past"></a>
  <h2>Past Experiences - Internships, Research<h7>*Hover over job title to see projects</h7></h2>
  <section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg"/></a></section>
  
  <h3>Adobe Systems Incorporated<c1>San Jose. CA, Summer 2013</c1></h3>
  <a id="btn-slide"><h4><i>Platform Services Intern</i></h4></a>
  <div id="leases">
      <div>• Architecturally design and implement a web service to display Creative Cloud content</div>
      <div>• Integration with internal identity platforms to develop RESFTful APIs</div>
  </div>
  <br>
  <h3>Berkeley Institute of Design<c1>UC Berkeley, Fall 2012 - Spring 2013</c1></h3>

<a id="btn-slide"><h4><i>Undergraduate research for Dr. Nathaniel Titterton</i></h4></a>
<div id="leases">
    <div>• Develop Eclipse plug-in for integrating web-based exercises into Eclipse IDE</div>
    <div>• <a href="https://github.com/andreaowu" target="_blank"><u>Github</u></a> for this project</div>
</div>
<br>

<h3>Lockheed Martin Corporation (Space Systems Company)<c1>Sunnyvale, CA, Summer 2012</c1></h3>
<a id="btn-slide"><h4><i>Satellite Test Developer</i></h4></a>
<div id="leases">
    <div>• Modify and improve data-mining and data-collecting software</div>
    <div>• Migrate box test code from Visual Studio 2003 to 2008</div>
    <div>• Write program checking test completeness for connector pins</div>
    <div>• Develop memory tests for on-board computer</div>
    <div>• All projects done in C++</div>
</div>
<br>

<h3>EMC Corporation<c1>Santa Clara, CA, Summer 2011</c1></h3>
<a id="btn-slide"><h4><i>Manufacture Test Developer</i></h4></a>
<div id="leases">
    <div>• Upgrade interface for test logs using Perl and HTML</div>
    <div>• Add queries to the test-log database with SQL</div>
</div>
<br>

<h3>Delphix Corporation<c1>Menlo Park, CA, Summer 2010</c1></h3>
<a id="btn-slide"><h4><i>Quality Assurance Intern</i></h4></a>
<div id="leases">
    <div>• Write test automation script in Python using Project Sikuli</div>
    <div>• Test product and report bugs through Bugzilla</div>
</div><br>

  <br><br>
  <a name="funfact"></a>
  <section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
  <h6>Fun fact: I don't text nor have a smartphone through personal choice; I value interacting with people <br>off-screen.
</h6>
  <br>
</div></p>
<br>
