<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Career_zps6d00c20f.png">
<title>Career</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/road_zps65eef879.jpg" />
  <div class="box">
    <h1><br><b>Career</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<font size = 5px;>&nbsp;</font>
<div class="textbox"><br>
  <a href="#goals">Goals</a>
  <a href="#past">Past Experiences</a>
  <a href="#funfact">Fun fact</a>

  <a name="goals"></a>
  <h2>Goals</h2>
  <section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
  <h3>I'm <font color="0A05A6">not entirely sure</font> what I want to do as a career yet, as I just started my upper division CS courses last semester. However, I know I want to be a  <font color="0A05A6">software developer</font>.  Also, I think I favor <font color="0A05A6">networks</font> and <font color="0A05A6">web development</font> (making this website was super exciting!) at the moment.  At the same time, my goal as of now is to <font color="0A05A6">explore</font> more subfields of computer science and hopefully find a niche.</h3>
  <a name="past"></a>
  <h2>Past Experiences - Internships, Research</h2>
  <section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
  <h3>Berkeley Institute of Design<c1>UC Berkeley, Fall 2012</c1></h3>
  <h4><i>Undergraduate researcher for Dr. Nathaniel Titterton:</i><br>
• Open web-based assignments in Eclipse and allow users (beginner Java learners) to validate<br>
• <a2 href="https://github.com/IDE4edu/">Github</a2> for this project 
</h4>
  <h3>Lockheed Martin Corporation (Space Systems Company)<c1>Sunnyvale, CA, Summer 2012</c1></h3>
  <h4><i>Satellite Test Developer for Command and Data Handling, Special Programs Intern:</i><br>
• Modify and improve data-mining and data-collecting software<br>
• Update telemetry-measuring box test to execute on Visual Studio 2008 instead of 2003<br>
• Write program to check test completeness for connector pins<br>
• Develop memory tests for on-board computer<br>
• Compare net lists to pin lists for newly designed circuit card assemblies<br>
• All projects done in C++<br>

  </h4>
  <h3>EMC Corporation<c1>Santa Clara, CA, Summer 2011</c1></h3>
  <h4><i>Manufacture Test Development College Intern:</i><br>
  • Design and implement a more user-friendly interface for test logs using Perl and HTML<br>
  • Add queries to the test-log database with SQL</h4>
  <h3>Delphix Corporation<c1>Menlo Park, CA, Summer 2010</c1></h3>
  <h4><i>Quality Assurance Summer Intern</i><br>
    • Wrote test automation script in Python using Project Sikuli<br>
    • Tested product and reported bugs through Bugzilla</h4>
  <h4></h4>
  <br><br>
  <a name="funfact"></a>
  <section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
  <h6>Fun fact: One of the best summers I have had was teaching English to elementary students living in a <br>remote area of Taiwan.</h6>
  <br>
</div></p>
<br>