<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/contact_zps137614b6.png">
<title>Contact</title>

<div class="image">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/contact_zps0153107a.jpg" />
	<div class="box">
		<h1><br><b>Contact</b></h1>
	</div>

	<p>
		<%= render 'layouts/header' %>
		<font size = 5px;>&nbsp;</font>
		<div class="textbox">
			<br>
			<br>
			<h3>
				<center>
					<a href="mailto:andreaowu@berkeley.edu">Email</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="https://github.com/andreaowu" target="_blank">Github</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="http://www.linkedin.com/in/andreaowu" target="_blank">LinkedIn</a>
				</center>
			</h3>
            <br>
			<br>
			<h6>
				<center>
					Fun fact: I can read, write, and speak Mandarin Chinese fluently. I can also converse in Cantonese.
				</center>
			</h6>
		<br>
		</div>
	</p>
</div>
<br>
