<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/contact_zpsdeac94a1.jpg" />
  <div class="box">
  	<h1><p><br>
			<b>Contact</b>
		</p>
		</h1>
</div>
<p>
<%= render 'layouts/header' %>

<h3>
  My email address is andreaowu at gmail.com
</h3>