<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/contact_zps137614b6.png">
<title>Contact</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/contact_zps0153107a.jpg" />
  <div class="box">
  	<h1><br><b>Contact</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<br><br><div class="textbox"><br>
<h3>
  Email. andreaowu at gmail.
</h3>
<br></div>