<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/contact_zps137614b6.png">
<title>Contact</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/contact_zps0153107a.jpg" />
  <div class="box">
  	<h1><br><b>Contact</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<br><br><div class="textbox"><br>
<h3><center><a href="mailto:andreaowu@gmail.com">Email</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/andreaowu" target="_blank">Github</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.linkedin.com/in/andreaowu" target="_blank">LinkedIn</center></a></h3>
<br>
<br><h6>Fun fact: I can speak Mandarin Chinese fluently and Cantonese. I can also read and write (in both!). </h6><br>
</div>
<br>