<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/contact_zps137614b6.png">
<title>Contact</title>

<div class="image">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/contact_zps0153107a.jpg" />
	<div class="box">
		<h1><br><b>Contact</b></h1>
	</div>

	<p>
		<%= render 'layouts/header' %>
		<font size = 5px;>&nbsp;</font>
		<div class="textbox">
			<br>
			<br>
			<h3>
				<center>
					<a href="mailto:andreaowu@berkeley.edu">Email</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="https://github.com/andreaowu" target="_blank">Github</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="http://www.linkedin.com/in/andreaowu" target="_blank">LinkedIn</a>
				</center>
			</h3>
			<!--
			<h2>Comments/Suggestions?</h2>
			<form action="mailto:andreaowu@berkeley.edu?subject=myform_submission" enctype="text/plain">
				<fieldset>
					<input type="text" class name="name" id="name" value="Name" onfocus="if (this.value == 'Name') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Name'}"><br>
					<input type="text" class name="email" id="email" value="Email" onfocus="if (this.value == 'Email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Email'}"><br>
					<textarea rows="7" cols="100" id="message" name="message" value="Message"></textarea><br>
					<input type="submit" name="submit" value="Send Message">
				</fieldset>
			</form>
			-->
			<br>
			<br>
			<h6>
				<center>
					Fun fact: I can read, write, and speak Mandarin Chinese fluently. I can also converse in Cantonese.
				</center>
			</h6>
		<br>
		</div>
	</p>
</div>
<br>