<div class="image">
  <img src="https://sphotos-a.xx.fbcdn.net/hphotos-prn1/530952_3855236932938_241706092_n.jpg" />
  <div class="box">
  	<h1><p><br>
			<b>Welcome!</b>
		</p>
		</h1>
</div>
<p>
<%= render 'layouts/header' %>