<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/home_zpsb306c23b.png">
<title>Home</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/bokeh_zps2047d63c.jpg" />
  <div class="box">
  	<h1><br><b>Welcome!</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<font size = 5px;>&nbsp;</font>
<div class="textbox"><br>
	<a href="#currentlife">Current life</a>
	<a href="#mynearfuture">My near future</a>
	<a href="#funfact">Fun fact</a>
	<a name="currentlife"></a>
	<h2>Current life: winter break</h2>
	<section id="gototop"><a href="#top">Top</a></section>
	<h3>I'm picking my brains over this site, playing piano, taking lots and lots pictures of food, and catching up with friends.</h3>
	<a name="mynearfuture"></a>
	<h2>My near future</h2>
	<section id="gototop"><a href="#top">Top</a></section>
	<h3>Majority of life (aka classes)<h3> 
		<h4>operating systems (oh dear!), algorithms (finally!), jazz theory, morality (hooray!), and maybe "Music and Meaning" (combine music and philosophy!) or "The Art and Science of Digital Photography" (upper division <i>CS</i> course!). So lucky to have classes that combine everything I love together.</h4>
	<h3>Alternate life</h3>
	<h4>piano, research</h4>
	<h3>"Free time"</h3>
	<h4>ensemble, volleyball intramural, playing cards</h4>

	<br><br>
	<a name="funfact"></a>
	<section id="gototop"><a href="#top">Top</a></section>
	<h6>Fun fact: I've pulled exactly 1 all-nighter in my life (9th grade volleyball sleepover). I get 8-9 hours of sleep every day no matter what, usually sleeping around 11PM and waking up before 8AM.</h6>
	<br>
</div></p>
<br>