<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/home_zpsb306c23b.png">
<title>Home</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/bokeh_zps2047d63c.jpg" />
  <div class="box">
  	<h1><br><b>Welcome!</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<br><div class="textbox"><br>
<h2>Current life</h2>
<h3>I'm on winter break right now: breaking my brains over this site, playing piano, taking lots and lots pictures of food, and talking and catching up with friends.</h3>
<h2>My near future</h2>
<h3>Majority of life (aka classes) - operating systems (oh dear!), algorithms (finally!), jazz theory, morality (hooray!), and maybe "Music and Meaning" (combine music and philosophy!) or "The Art and Science of Digital Photography" (upper division CS course!).</h3>
<h3>"Free time" - piano, ensemble, volleyball intramural</h3>
<br></div>
<br>