<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/IMG_1409_zps18593940.jpg" />
  <div class="box">
  	<h1><p><br>
		<b>Welcome!</b>
	</p>
	</h1>
</div>
<p>
<%= render 'layouts/header' %>