<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/home_zpsb306c23b.png">
<title>Home</title>

<div class="image">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/bokeh_zps2047d63c.jpg" />
	<div class="box">
  		<h1><br><b>Welcome!</b></h1>
	</div>

	<p>
		<%= render 'layouts/header' %>
		<font size = 5px;>&nbsp;</font>
		<div class="textbox"><br>
			<a href="#currentlife">Current life</a>
			<a href="#funfact">Fun fact</a>
			<a name="currentlife"></a>
			
			<h2>Current life: Senior Year!</h2>
			<section id="gototop">
            <a href="#top"></a>
            </section>
			
			<h3>Majority of life (aka classes)<h3> 
            <h4>User Interface Design and Development (REALLY cool and interesting class, probably the most applicable class to industry that I've encountered thus far), Artifical Intelligence, Intro to Microelectronic Circuits, Political Philosophy
			<h3>Alternate life</h3>
			<h4>Piano, finding a job, volleyball intramural, planning events for seniors of College of Engineering as a participant of the Senior Class Committee, planning an Easter egg hunt as part of the events committee of Eggster, and planning a day full of engineering fun for kids as part of Engineering for Kids! As you can probably tell, I love planning events :).</h4>
			<h3>"Free time"</h3>
            <h4>Taking pictures and editing them with Lightroom, hanging out with friends, enjoying my last year in college!</h4>

			<br>
			<br>
			
			<a name="funfact"></a>

			<h6>Fun fact: I've pulled exactly 1 all-nighter in my life (9th grade volleyball sleepover). I get 8-9 hours of<br> sleep every day no matter what, usually sleeping around 10:30PM and waking up around 7:30AM.</h6>
		 <br>
	</div>
</p>
<br>
