<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/home_zpsb306c23b.png">
<title>Home</title>

<div class="image">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/bokeh_zps2047d63c.jpg" />
	<div class="box">
  		<h1><br><b>Welcome!</b></h1>
	</div>

	<p>
		<%= render 'layouts/header' %>
		<font size = 5px;>&nbsp;</font>
		<div class="textbox"><br>
			<a href="#currentlife">Current life</a>
			<a href="#funfact">Fun fact</a>
			<a name="currentlife"></a>
			
			<h2>Current life: Last WINTER BREAK Ever!</h2>
			<section id="gototop">
            <a href="#top"></a>
            </section>
			
			<h3>Hanging out with friends, practicing piano on GOOD QUALITY PIANO (unlike at school), taking pictures and playing around with Lightroom, contemplating life and trying to make it go slower, watching Chuck, meaning to go to the library to check out Ender's Game, the Hunger Games series, and Dan Brown books<h3> 

			<br>
			<br>
			
			<a name="funfact"></a>

			<h6>Fun fact: I've pulled exactly 1 all-nighter in my life (9th grade volleyball sleepover). I get 8-9 hours of<br> sleep every day no matter what, usually sleeping around 10:30PM and waking up around 7:30AM.</h6>
		 <br>
	</div>
</p>
<br>
