<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/home_zpsb306c23b.png">
<title>Home</title>

<div class="image">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/bokeh_zps2047d63c.jpg" />
	<div class="box">
  		<h1><br><b>Welcome!</b></h1>
	</div>

	<p>
		<%= render 'layouts/header' %>
		<font size = 5px;>&nbsp;</font>
		<div class="textbox"><br>
			<a href="#currentlife">Current life</a>
			<a href="#funfact">Fun fact</a>
			<a name="currentlife"></a>
			
			<h2>Current life: Last Semester of Undergrad!</h2>
			<section id="gototop">
            <a href="#top"></a>
            </section>
			
            <h3>Majority-or-maybe-not-so-majority of life (aka classes)<h3> 
                    <h4>Security, Contemporary Ethics (coolest class ever), Philosophy of Game Theory (I've taken artificial intelligence in the CS department, and it's interesting to see what philosophers are concerned about with respect to what CS people think about), Computer Programming for Music Applications (woohoo music and cs!), and University Baroque Ensemble (I get to learn how to play the harpsichord!)</h4>
            <h3>Alternate life</h3>
                <h4>Piano, finding a job, volleyball intramural, a bunch of event-planning clubs, AFX dance</h4>
            <h3>"Free time"</h3>
                <h4>Taking pictures and editing them with Lightroom, trying all the restaurants I haven't gotten to try the last 3.5 years I was here</h4>

			<br>
			<br>
			
			<a name="funfact"></a>

			<h6>Fun fact: I've pulled exactly 1 all-nighter in my life (9th grade volleyball sleepover). I get 8-9 hours of<br> sleep every day no matter what, usually sleeping around 10:30PM and waking up around 7:30AM.</h6>
		 <br>
	</div>
</p>
<br>
