<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/home_zpsb306c23b.png">
<title>Home</title>

<div class="image">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/bokeh_zps2047d63c.jpg" />
	<div class="box">
  		<h1><br><b>Welcome!</b></h1>
	</div>

	<p>
		<%= render 'layouts/header' %>
		<font size = 5px;>&nbsp;</font>
		<div class="textbox"><br>
			<a href="#currentlife">Current life</a>
			<a href="#funfact">Fun fact</a>
			<a name="currentlife"></a>
			
			<h2>Current life: Summer!</h2>
			<section id="gototop">
            <a href="#top"></a>
            </section>
			
			<h3>Majority of life<h3> 
			<h4>Internship at Adobe programming a web service for Creative Cloud!</h4>
			<h3>Alternate life</h3>
			<h4>Piano, schoolwork, coding side project(s)</h4>
			<h3>"Free time"</h3>
			<h4>Meeting Adobe interns, avoiding the question "What are you going to do after you graduate?" taking pictures, hanging out and catching up with friends!</h4>

			<br>
			<br>
			
			<a name="funfact"></a>

			<h6>Fun fact: I've pulled exactly 1 all-nighter in my life (9th grade volleyball sleepover). I get 8-9 hours of<br> sleep every day no matter what, usually sleeping around 11PM and waking up before 8AM.</h6>
		 <br>
	</div>
</p>
<br>