<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/home_zpsb306c23b.png">
<title>Home</title>

<div class="image">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/bokeh_zps2047d63c.jpg" />
	<div class="box">
  		<h1><br><b>Welcome!</b></h1>
	</div>

	<p>
		<%= render 'layouts/header' %>
		<font size = 5px;>&nbsp;</font>
		<div class="textbox"><br>
			<a href="#currentlife">Current life</a>
			<a href="#mynearfuture">My near future</a>
			<a href="#funfact">Fun fact</a>
			<a name="currentlife"></a>
			
			<h2>Current life: winter break</h2>
			<section id="gototop">
				<a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a>
			</section>

			<h3>Practicing piano is my priority at the moment because competition screening records are due soon. Besides that, I have made this website, and I am currently coding a web-based card game called Level Up that my friends and I love playing. For that, I'm learning Node.js with Express, Jade, and Stylus, and I recently programmed my first client-server connection! I have also taken lots and lots pictures of food and gone on adventures with friends.</h3>
			<a name="mynearfuture"></a>
			<h2>Near future</h2>
			<section id="gototop">
				<a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a>
			</section>
			
			<h3>Majority of life (aka classes)<h3> 
			<h4>Operating Systems, Algorithms (finally!), Jazz Theory, Ethical Theories, and Music and Meaning (cross-listed with philosophy)</h4>
			<h3>Alternate life</h3>
			<h4>Piano, research</h4>
			<h3>"Free time"</h3>
			<h4>Ensemble, coding side projects, volleyball intramural, playing cards</h4>

			<br>
			<br>
			
			<a name="funfact"></a>
			<section id="gototop">
				<a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a>
			</section>

			<h6>Fun fact: I've pulled exactly 1 all-nighter in my life (9th grade volleyball sleepover). I get 8-9 hours of<br> sleep every day no matter what, usually sleeping around 11PM and waking up before 8AM.</h6>
			<br>
		</div>
	</p>
</div>
<br>