<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/IMG_5200_zpsd79c63f9.jpg" />
  <div class="box">
  	<h1><p><br>
		<b>Welcome!</b>
	</p>
	</h1>
</div>
<p>
<%= render 'layouts/header' %>

<h1><center>Work in progress!</center></h1>