<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/home_zpsb306c23b.png">
<title>Home</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/bokeh_zps2047d63c.jpg" />
  <div class="box">
  	<h1><p><br>
		<b>Welcome!</b>
	</p>
	</h1>
</div>
<p>
<%= render 'layouts/header' %>
<br><div class="textbox"><br>
<h1><center>Work in progress!</center></h1>
<h2><center>I really like blue.</center></h2>
<br></div>