<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/music_zps2f678778.png">
<title>Music</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/piano_zps315f075d.jpg" />
  <div class="box">
  	<h1><br><b>Music</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<br><br><div class="textbox"><br>
<h2>Piano</h2>
<h3>
   15 years. Practice. Perform. Compete.<br>
   Classical. Private lessons. Professor Sharon Mann, San Francisco Conservatory of Music.<br>
   Liszt. Bach. Beethoven. Exciting and dramatic music.<br>
   Ensemble. Recent. <br>
   Self-motivation. Discipline. Satisfaction. Sanity!<br>
 </h3>
 <h2>Guitar</h2>
 <h3>Recent. Major chords. Songs?
</h3>
<h2>Piano Performances</h2>
<h3>Noon Concert (solo): October 2011</h3>
<iframe width="420" height="315" src="http://www.youtube.com/embed/LRxUQj_QmII?rel=0" frameborder="0" allowfullscreen></iframe>
<h4>Bach - Chromatic Fantasy and Fugue</h4>
<h4>Beethoven - Sonata in Eb Major, Op. 31 No. 3</h4>
<h4>Ginastera - Sonata No. 1 Op. 22</h4>
<h3>Noon Concert (shared solo): February 2012</h3>
<iframe width="420" height="315" src="http://www.youtube.com/embed/zl8KQgzjIVQ?rel=0" frameborder="0" allowfullscreen></iframe>
<h4>Schumann - Sonata in g minor</h4>
<h4>Prokofiev - Toccata, D minor Op. 11</h4>
<h3>Piedmont Gardens Retirement Center: September 2012</h3>
<h4>Bach - Italian Concerto</h4>
<h4>Beethoven - Sonata in E Major, Op. 109</h4>
<h4>Chopin - Etude in C Major, Op. 10 No. 1</h4>
<h4>Chopin - Etude in c minor, Op. 25 No. 12</h4>
<h4>Copland - Four Piano Blues</h4>
<h4>Liszt - La Campanella</h4>
<h3>Noon Concert (ensemble): October 2012</h3>
<h4>Brahms - Trio in B Major</h4>
<br></div>
