<h1>Music</h1>
<p>
  I love piano! I am currently studying piano with Professor Sharon Mann of the San Francisco Conservatory of Music.  My talent is breaking piano string. I have broken 13 piano strings in the 15 years that I have been playing piano. Funnily enough, I broke all of those strings in the span of 2-3 years. Piano keeps me sane in the midst of debugging computer science projects. And life.
</p>
