<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/music_zps2f678778.png">
<title>Music</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/piano_zps315f075d.jpg" />
  <div class="box">
  	<h1><p><br>
			<b>Music</b>
		</p>
		</h1>
</div>
<p>
<%= render 'layouts/header' %>
<br><br><div class="textbox"><br>
<h2>Piano</h2>
<h3>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I have been playing classical piano since I was five years old, and I really enjoy it!  I am currently studying piano with Professor Sharon Mann of the San Francisco Conservatory of Music.  My favorite composers are Liszt, Bach, Beethoven, and whoever writes exciting and dramatic music!  If you ask my sister, she says my talent is breaking piano strings: I have broken 13 piano strings, and funnily enough, I broke all of them in the span of 2-3 years!<br>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Besides solo piano, last semester I played in an ensemble with peers at my school, and they were very talented musicians! We played the Brahms trio in B Major. <br>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Piano is really important to me, as I believe it helped shaped my self-motivation, discipline, and the belief that hard work pays off.  I am truly grateful for the opportunity to play this wonderful instrument, as piano keeps me sane in the midst of debugging computer science projects. And life.<br>
 </h3>
 <br>
 <h2>Guitar</h2>
 <h3>Recently, I have started learning guitar, an interest of mine I have long wanted to pursue. I can play all the major chords and can stumble along in a couple of popular songs.
</h3>
<br>
<h2>Performances</h2>
<h3>Noon Concert (solo): October 2011</h3>
<h4>Bach - Chromatic Fantasy and Fugue</h4>
<h4>Beethoven - Sonata in Eb Major, Op. 31 No. 3</h4>
<h4>Ginastera - Sonata No. 1 Op. 22</h4>
<h3>Noon Concert (shared solo): February 2012</h3>
<h4>Schumann - Sonata in g minor, complete</h4>
<h4>Prokofiev - Toccata, D minor Op. 11</h4>
<h3>Piedmont Gardens Retirement Center: September 2012</h3>
<h4>Bach - Italian Concerto, complete</h4>
<h4>Beethoven - Sonata in E Major, Op. 109</h4>
<h4>Chopin - Etude in C Major, Op. 10 No. 1</h4>
<h4>Chopin - Etude in c minor, Op. 25 No. 12</h4>
<h4>Copland - Four Piano Blues</h4>
<h4>Liszt - La Campanella</h4>
<h3>Noon Concert (ensemble): Febru
<br></div>
