<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/camera_zpsef16b655.png">
<title>Photography</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Photography_zpse1f98250.jpg" />
  <div class="box">
  	<h1><br><b>Photography</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<font size = 5px;>&nbsp;</font>
<div class="textbox"><br>
<a href="#bg">Background</a>
<a href="#berk">Around Berkeley</a>
<a href="#food">Food</a>
<a href="#rand">Here and There</a>
<a href="#funfact">Fun fact</a>
<a name="bg"></a>
<h2>Background</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
<h3>
  I like taking pretty pictures, and I am currently learning how to use a DSLR. I will post some here after my pictures are decent enough to be posted! However, I should warn you, make sure you're not hungry before you look at this page; I love food, so many of my pictures are going to be of my very delicious meals.
</h3>
<a name="berk"></a>
<h2>Around Berkeley</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
<div class="photos">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_0785_zps0c664f7d.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_0786_zpsff573c7a.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_1313_zpsd82fa5ce.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_1164_zpsbbd8231b.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_0928_zps124b4fa3.jpg" />
</div>
<!--
<img src="" />
<h3></h3>

<img src="" />
<h3></h3>
-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a name="food"></a>
<h2>Food</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
<div class="photos">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_1965_zps6b1b9c70.jpg"/>
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/2014-11-12200304_zps62f24b42.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_2751_zpsf71a6c96.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_2746_zpsf4565ebe.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_2690_zps75fb309a.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_2610_zps738e7656.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_2838_zps7da62a0d.jpg" />
</div>
<a name="rand"></a>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2>Here and There</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
<div class="photos">
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_2216_zps15e75ffc.jpg" />
	<img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/Website%20Photos/IMG_2201_zpsd0de7e1c.jpg" />
</div>
<br><br><br><br><br>
<br><br><br><br><br><br>
<a name="funfact"></a>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
<h6>Fun fact: My favorite time to work is the morning.</h6>
<br></div>