<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/camera_zpsef16b655.png">
<title>Photography</title>
<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/Photography_zpse1f98250.jpg" />
  <div class="box">
  	<h1><p><br>
			<b>Photography</b>
		</p>
		</h1>
</div>
<p>
<%= render 'layouts/header' %>
<br><br><div class="textbox"><br>
<h3>
  I like taking pretty pictures, and I am currently learning how to use a DSLR. I will post some here after I figure out how and after my pictures are decent enough to be posted!
</h3>
<br></div>