<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/soda_zps8a129f95.jpg" />
  <div class="box">
  	<h1><p><br>
			<b>Academics</b>
		</p>
		</h1>
</div>
<p>
<%= render 'layouts/header' %>
<br>
<br>
</p>
<p>
  <h2>Programming Languages</h2>
  <h3>Comfortable</h3>
  <h4>Java, Python, SQL, C</h4>
  <h3>Encountered</h3>
  <h4>C++, Perl, Ruby, Javascript, HTML, CSS</h4>
  <br>
  <h2>Software</h2>
  <h3>Eclipse, Microsoft Visual Studio, Tornado, Git, Rails, Project Sikuli, Bugzilla, Heroku</h3>
  <br>
  <h2>Coursework</h2>
  <h3>Networks</h3>
  <h3>Databases</h3>
  <h3>Data Structures</h3>
  <h3>Computer Architecture</h3>
</p>
