<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/projects_zps4ed32479.png">
<title>Academics</title>

<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/soda_zps8a129f95.jpg" />
  <div class="box">
  	<h1><br><b>Academics</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<br><br></p>
<p>
  <div class="textbox"><br>
  <h2>Coursework</h2>
  <h3><u>Networks</u><p>&nbsp;&nbsp;&nbsp;&nbsp;layers, routing/addressing, congestion control, software-defined networks</p></h3>
  <h4>Projects (Python): distance-vector and link-state router, firewall (implement TCP)</h4>
  <h3><u>Databases</u><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; relational models, buffer manager, query optimization, transactions</p></h3>
  <h4>Projects (C): web application server (Rails), replacement policies, estimate top-k with count-min sketch</h4>
  <h3><u>Data Structures</u><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OOP, sorting, complexity, trees, graphs</p></h3>
  <h4>Projects (Java): Blokus game with text UI and AI, Makefile and GPS implemented with Graph package</h4>
  <h3><u>Computer Architecture</u><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CPU datapath, MIPS, caching, parallelism</p></h3>
  <h4>Projects (C): MIPS interpreter, multi-threaded matrix multiplier, pipelined processor (Logisim)</h4>
  <br>
  <h2>Programming Languages</h2>
  <h3>Comfortable</h3>
  <h4>Java, Python, SQL, C</h4>
  <h3>Encountered</h3>
  <h4>C++, Perl, Ruby, Javascript, HTML, CSS</h4>
  <br>
  <h2>Software</h2>
  <h3>IDE</h3>
  <h4>Eclipse, Microsoft Visual Studio, Tornado</h4>
  <h3>Platforms/Applications</h3>
  <h4>Git, Project Sikuli, Bugzilla, Rails, Heroku</h4>
  <br></div>
</p>
