<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/projects_zps4ed32479.png">
<title>Academics</title>

<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/soda_zps8a129f95.jpg" />
  <div class="box">
  	<h1><br><b>Academics</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<font size = 5px;>&nbsp;</font>

  <div class="textbox"><br>
  	<a href="#why">Why EECS?</a>
  	<a href="#coursework">Coursework</a>
  	<a href="#languages">Programming Languages</a>
  	<a href="#software">Software</a>
  	<a href="#funfact">Fun fact</a>
  <a name="why"></a>
  <h2>Why EECS?</h2>
  <section id="gototop">
            <a href="#top"></a>
            </section>
  <h3>I originally was a <font color="0A05A6">physics major</font>, but the summer before college, I touched CS (at an internship) for the first time ever. It sparked my interest, so during the year, I took an introduction to CS course, which lead me to change my major to CS.  At the same time, I still wanted to do physics, and happily, I realized this was practically the <font color="0A05A6">EECS</font> major. Needless to say, I applied for a <font color="0A05A6">transfer</font>, and I was accepted the semester after.  Ever since then, I have been <font color="0A05A6">one of the few girls</font> in EECS at Berkeley!</h3>
  <a name="coursework"></a>
  <h2>Coursework</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
  <h3>Algorithms<p>&nbsp;&nbsp; parallel, dynamic, and linear programming, graph theory, NP-completeness</p></h3>
  <h3>Databases<p>relational model, operations, optimizations</h3>
  <h3>Operating Systems<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; concurrency, threading, virtual memory, file systems</p></h3>
  <h4>Projects (Java): multiprogram system calls, single-node and distributed key-value store</h4>
  <h3>Networks<p>layers, routing/addressing, congestion control, software-defined networks</p></h3>
  <h4>Projects (Python): distance-vector and link-state router, firewall (implement TCP)</h4>
  <h3>Data Structures<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OOP, sorting, complexity, trees, graphs</p></h3>
  <h4>Projects (Java): Blokus with text UI and AI, make graph API and implement Makefile, GPS with it</h4>
  <h3>Computer Architecture<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CPU datapath, MIPS, caching, parallelism</p></h3>
  <h4>Projects (C): MIPS interpreter, multi-threaded matrix multiplier, pipelined processor (Logisim)</h4>
  <a name="languages"></a>
  <h2>Programming Languages</h2>
  <section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
  <h3>Preferred</h3>
  <h4>Java (including jUnit), Python</h4>
  <h3>Comfortable</h3>
  <h4>Javascript (including jQuery), HTML, CSS, SQL</h4>
  <h3>Encountered</h3>
  <h4>C, C++, Perl, Ruby</h4>
  <a name="software"></a>
  <h2>Software</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
  <h3>Frameworks</h3>
  <h4>Ruby on Rails, Node.js, CXF (JAX-RS, JAXB), Maven, Spring, MyBatis</h4>
  <h3>IDE</h3>
  <h4>Eclipse, Microsoft Visual Studio, Tornado</h4>
  <h3>Platforms/Applications</h3>
  <h4>Git, Android, Bugzilla, Tomcat, AWS (EC2, RDS), MySQL, Project Sikuli</h4>
  <br>
<a name="funfact"></a>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/Website%20Dev/up_keep_zps4a933c75.jpg" /></a></section>
<h6>Fun fact: Since forever, I've started school projects and homework the day they're released.</h6>
<br>
</div>
</p><br>
