<h1> Projects</h1>
<p>
  Hi there! My name is Andrea, and I am a 3rd-year Electrical Engineering and Computer Science major at UC Berkeley, minoring in philosophy and music.  In my spare time, I like playing piano, taking pretty pictures, making new friends, and playing cards! 
</p>
