<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/projects_zps4ed32479.png">
<title>Academics</title>

<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/soda_zps8a129f95.jpg" />
  <div class="box">
  	<h1><br><b>Academics</b></h1>
</div>
<p>
<%= render 'layouts/header' %>
<font size = 5px;>&nbsp;</font>

  <div class="textbox"><br>
  	<a href="#why">Why EECS?</a>
  	<a href="#coursework">Coursework</a>
  	<a href="#languages">Programming Languages</a>
  	<a href="#software">Software</a>
  	<a href="#funfact">Fun fact</a>
  <a name="why"></a>
  <h2>Why EECS?</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/up_zpsd8e9a7fd-1_zpsb91ddd34.jpg" /></a></section>
  <h3>I originally was a <font color="4276DD">physics major</font>, but the summer before college, I had my first opportunity at an internship to explore CS. It sparked my interest, so I took a very, very basic introduction to CS my first college semester. The following semester, I decided to change my major to CS and minor in physics. Then I realized this was practically EECS, so I applied for a <font color="4276DD">transfer to EECS</font> during my third semester. I was accepted in my fourth semester, and ever since then, I have been <font color="4276DD">one of the few girls</font> in EECS at Berkeley!</h3>
  <a name="coursework"></a>
  <h2>Coursework</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/up_zpsd8e9a7fd-1_zpsb91ddd34.jpg" /></a></section>
  <h3>Networks<p><i>layers, routing/addressing, congestion control, software-defined networks</i></p></h3>
  <h4>Projects (Python): distance-vector and link-state router, firewall (implement TCP)</h4>
  <h3>Databases<p><i>&nbsp; relational models, buffer manager, query optimization, transactions</i></p></h3>
  <h4>Projects (C): web application server (Rails), replacement policies, estimate top-k with count-min sketch</h4>
  <h3>Data Structures<p><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OOP, sorting, complexity, trees, graphs</i></p></h3>
  <h4>Projects (Java): Blokus game with text UI and AI, Makefile and GPS implemented with Graph package</h4>
  <h3>Computer Architecture<p><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CPU datapath, MIPS, caching, parallelism</i></p></h3>
  <h4>Projects (C): MIPS interpreter, multi-threaded matrix multiplier, pipelined processor (Logisim)</h4>
  <a name="languages"></a>
  <h2>Programming Languages</h2>
  <section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/up_zpsd8e9a7fd-1_zpsb91ddd34.jpg" /></a></section>
  <h3>Comfortable</h3>
  <h4>Java, Python, SQL, C</h4>
  <h3>Encountered</h3>
  <h4>C++, Perl, Ruby, Javascript, HTML, CSS</h4>
  <a name="software"></a>
  <h2>Software</h2>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/up_zpsd8e9a7fd-1_zpsb91ddd34.jpg" /></a></section>
  <h3>IDE</h3>
  <h4>Eclipse, Microsoft Visual Studio, Tornado</h4>
  <h3>Platforms/Applications</h3>
  <h4>Git, Project Sikuli, Bugzilla, Rails, Heroku</h4>
  <br>
<a name="funfact"></a>
<section id="gototop"><a href="#top"><img src="http://i54.photobucket.com/albums/g98/andreaowu/up_zpsd8e9a7fd-1_zpsb91ddd34.jpg" /></a></section>
<h6>Fun fact: Since forever, I've started school projects and homework the day they're released.</h6>
<br>
</div>
</p><br>
