<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/IMG_1164_zps1b61d9f9.jpg" />
  <div class="box">
  	<h1><p><br>
			<b>Academics</b>
		</p>
		</h1>
</div>
<p>
<%= render 'layouts/header' %>
<p>
  I've done many school projects and a couple of internship projects.
</p>
