<link rel="shortcut icon" href="http://i54.photobucket.com/albums/g98/andreaowu/projects_zps4ed32479.png">
<title>Academics</title>

<div class="image">
  <img src="http://i54.photobucket.com/albums/g98/andreaowu/soda_zps8a129f95.jpg" />
  <div class="box">
  	<h1><p><br><b>Academics</b></p></h1>
</div>
<p>
<%= render 'layouts/header' %>
<br><br></p>
<p>
  <div class="textbox"><br>
  <h2>Coursework</h2>
  <h3>Networks: layers, routing/addressing, congestion control, software-defined networks</h3>
  <h4>Projects (Python): distance-vector and link-state router, firewall (implement TCP)</h4>
  <h3>Databases: relational models, buffer manager, query optimization, transactions</h3>
  <h4>Projects (C): web application server (Rails), replacement policies, estimate top-k with count-min sketch</h4>
  <h3>Data Structures: OOP, sorting, complexity, trees, graphs</h3>
  <h4>Projects (Java): Blokus game with text UI and AI, Makefile and GPS implemented with Graph package</h4>
  <h3>Computer Architecture: CPU datapath, MIPS, caching, parallelism</h3>
  <h4>Projects (C): MIPS interpreter, multi-threaded matrix multiplier, pipelined processor (Logisim)</h4>
  <br>
  <h2>Programming Languages</h2>
  <h3>Comfortable</h3>
  <h4>Java, Python, SQL, C</h4>
  <h3>Encountered</h3>
  <h4>C++, Perl, Ruby, Javascript, HTML, CSS</h4>
  <br>
  <h2>Software</h2>
  <h3>IDE</h3>
  <h4>Eclipse, Microsoft Visual Studio, Tornado</h4>
  <h3>Platforms/Applications</h3>
  <h4>Git, Project Sikuli, Bugzilla, Rails, Heroku</h4>
  <br></div>
</p>
