@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: #BDEDFF;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

.center.navbar .nav {
    float:none;
    display:inline-block;
    vertical-align: top;
    margin-top: -5px;
}

.center .navbar-inner {
    text-align:center;
    height: 50px;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 5px;
}

/* overlaying picture */

.image {
    text-align: center;
    position: relative;
    float: auto; /* optional */
    bottom: 15px;
}

.box {
    width: 810px; /* full is 850 */
    height: 285px; /* full is 300 */
    position:absolute;
    top:15px; /* full is 0 */
    left:65px; /* full is 209 */
    background: rgba(248, 248, 248, 0.5);
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: "Myriad Pro", Calibri, sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: right;
  margin-right: 60px;
  margin-top: 40px;
  color: #000000;
}

h2 {
  font-family: "Myriad Pro", Calibri, sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-left: 45px;
  margin-right: 45px;
  text-align: left;
  font-weight: 100;
  color: #00ACF0;
}

h3 {
  font-family: "Myriad Pro", Calibri, sans-serif;
  font-size: 1.3em;
  text-align: left;
  margin-left: 65px;
  margin-right: 65px;
  color: #0081B4;
  font-weight: 200;
}

h4 {
  font-family: "Myriad Pro", Calibri, sans-serif;
  font-size: 1.3em;
  text-align: left;
  margin-left: 85px;
  margin-right: 85px;
  color: #015F84;
  font-weight: 100;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: center;
  margin-right: 10px;
  font-size: 1.7em;
  color: #00BFFF;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
	color: #FFF;
	text-decoration: none;
  }
}

#nav {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* footer */

footer {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid #56A5EC;
  color: #999;
  a {
	color: #555;
	&:hover {
	  color: #222;
	}
  }
  small {
    float: right;
    color: #5CB3FF;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}